name: Build and Push Dev Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch: # Optional manual trigger

jobs:
  build:
    strategy:
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm64
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract release tag and set repo name
      run: |
        echo "REPO_LOWER=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/${{ matrix.arch }}
        file: ./Containerfile
        push: true
        tags: ghcr.io/${{ env.REPO_LOWER }}:dev-${{ matrix.arch }}

  manifest:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
    steps:
    - name: Extract release tag and set repo name
      run: |
        echo "REPO_LOWER=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Create multi-arch manifest
      uses: docker/manifest-action@v2
      with:
        target: ghcr.io/${{ env.REPO_LOWER }}:${{ env.RELEASE_TAG }}
        manifests: |
          ghcr.io/${{ env.REPO_LOWER }}:dev-amd64
          ghcr.io/${{ env.REPO_LOWER }}:dev-arm64
        push: true

    - name: Update latest tag
      uses: docker/manifest-action@v2
      with:
        target: ghcr.io/${{ env.REPO_LOWER }}:dev
        manifests: |
          ghcr.io/${{ env.REPO_LOWER }}:dev-amd64
          ghcr.io/${{ env.REPO_LOWER }}:dev-arm64
        push: true
